Repository IamSebastianDev/advent-of-code: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, biome-lint

markdown-lint:
  run: bunx alex .

biome-lint:
  run: bunx biome lint --write {staged_files}

chore: add commit lint
  bun.lockb
  commitlint.config.ts
  lefthook.yml
  package.json
Due: biome-lint

fix: correct day format
  src/index.ts
Due: biome-lint

feat: add statistics
  package.json
  src/2024/01.ts
  src/core/numbers/range.ts
  src/core/run.ts
  src/statistics.ts
Due: biome-lint

fix: remove trees
  src/core/run.ts
  src/statistics.ts
Due: biome-lint

fix: boldness
  src/statistics.ts
Due: biome-lint

refactor: change statistics implementation
  src/2024/01.ts
  src/core/run.ts
  src/statistics.ts
Due: biome-lint

refactor: improve runner implementation
  src/core/run.ts
Due: biome-lint

feat: implement day 2 puzzle 1 solve
  src/2024/02.ts
Due: biome-lint

feat: day 2 solution 2
  src/2024/02.ts
Due: biome-lint

fix: add solve
  src/2024/02.ts
Due: biome-lint

chore: update readme
  README.md
Due: markdown-lint

refactor: improve runner
  src/index.ts
Due: biome-lint

refactor: improve code structure
  src/2024/01.ts
  src/2024/02.ts
  src/core/files/get-lines.ts
  src/core/files/index.ts
  src/core/filters/index.ts
  src/core/format/index.ts
  src/core/numbers/index.ts
  src/core/run.ts
  src/statistics.ts
Due: biome-lint

chore: update githooks
  lefthook.yml
  package.json
Due: none

chore: add new lint command
  package.json
Due: none

chore: update hooks to avoid parallel writes
  lefthook.yml
Due: none

feat: implement tests and ci
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .vscode/extensions.json
  package.json
  src/2024/03.ts
  src/core/files/get-lines.spec.ts
  src/core/filters/for-number.spec.ts
  src/core/format/for-advent.spec.ts
  src/core/numbers/get-distance.spec.ts
  src/core/numbers/range.spec.ts
Due: biome-lint

feat: implement tests and ci
  .vscode/extensions.json
  package.json
  src/core/files/get-lines.spec.ts
  src/core/filters/for-number.spec.ts
  src/core/format/for-advent.spec.ts
  src/core/numbers/get-distance.spec.ts
  src/core/numbers/range.spec.ts
Due: biome-lint

chore: update workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat: day 3 solution one
  src/2024/03.ts
Due: biome-lint

feat: day 3 solution two
  src/2024/03.ts
Due: biome-lint

feat: day 4 solution 1
  src/2024/04.ts
Due: biome-lint

feat: day 4 solution 2
  src/2024/04.ts
Due: biome-lint

feat: partially implement day 6 solution 1
  src/2024/06.ts
Due: biome-lint

feat: day 6 solution one
  src/2024/06.ts
Due: biome-lint

Path conditions:
  markdown-lint: any of: *.md
  biome-lint: any of: *.{js,ts}
